body {
  font-family: Arial;
  padding: 20px;
  background: #f2f2f2;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  background: green;
  color: white;
  border: none;
}

#result {
  margin-top: 15px;
  font-size: 16px;
}
